@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

hr {
	background: #e9e9e9;
    border: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    margin: 0;
    min-height: 1px;
}

input {
	border: 0;
	color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }

/* ---------- LIVE-CHAT ---------- */

#live-chat {
	bottom: -10px;
	font-size: 12px;
	right: 24px;
	position: fixed;
	width: 300px;
}

#live-chat header {
	background: #202020;
    border-radius: 5px 5px 0 0; 
    color: #000;
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 1px solid #cacaca;
    -webkit-box-shadow: 1px 2px 18px 0px rgba(50, 50, 50, 0.53);
    -moz-box-shadow: 1px 2px 18px 0px rgba(50, 50, 50, 0.53);
    box-shadow: 1px 2px 18px 0px rgba(50, 50, 50, 0.53);
}

#live-chat h4:before {
	background: #1a8a34;
	border-radius: 50%;
	content: "";
	display: inline-block;
	height: 8px;
	margin: 0 8px 0 0;
	width: 8px;
}

#live-chat h4 {
	font-size: 12px;
	color: #fff;
}

#live-chat h5 {
	font-size: 10px;
}

#live-chat form {
	padding: 24px;
	margin-bottom: 0px;
}

#live-chat input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 8px;
	outline: none;
	width: 100%;
	color: #565656;
}

.chat-message-counter {
	background: #e62727;
	border: 1px solid #fff;
	border-radius: 50%;
	display: none;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	left: 0;
	line-height: 28px;
	margin: -15px 0 0 -15px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 28px;
}

.chat-close {
	background: #1b2126;
	border-radius: 50%;
	color: #fff;
	display: block;
	float: right;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	margin: 2px 0 0 0;
	text-align: center;
	width: 16px;
}

.chat {
	background: #fff;
	display: none;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.chat-history {
	height: 400px;
	padding: 8px 24px;
	overflow-y: scroll;
	color: #000;
}

.chat-message {
	margin: 16px 0;
}

.chat-message img {
	border-radius: 50%;
	float: left;
}

.chat-message-content {
	margin-left: 56px;
}

.chat-time {
	float: right;
	font-size: 10px;
}

.chat-time:hover{
	color: #000;
}

.chat-feedback {
	font-style: italic;	
	margin: 0 0 0 80px;
	float:right;
}

.msg-hi-align{
    text-align:center;
}

.bot-input-textarea{
	color: #000;
}

.chat-msg_{
	float:left;
	text-align: left;
}

.bot_input_textarea::placeholder{
	color: #505050;
}

.chat_link_suggestion{
	border: 1px solid #ccc;
    color:#fff;
    background-color: #5387bd;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.chat_link_suggestion:hover{
	border: 1px solid #5387bd;
    color: #fff;
}
.chat_link_suggestion:active{
	border: 1px solid #5387bd;
    background: #5387bd;
    color: #fff;
}

.socialProfileBot:hover{
	color: #525252;
}
.socialProfileBot:focus{
	color: #525252;
}